$color-dark: (
bg-dark: #1B262C,
text-dark: #BBE1FA,
aside-dark: #0F4C75,
cd-color-dark: #3282B8
);
$color-light: (
bg-white: #222831,
text-white: #EEEEEE,
aside-white: #393E46,
cd-color-white: #00ADB5
);