aside>a {
    display: flex;
    display: block;
    font-size: 2cap;
}

aside {
    background-color: #CCCCCC;
    padding: 10px;
}

#London {
    background-color: #F1F1F1;
    padding: 50px;
}

#Paris {
    background-color: #F1F1F1;
    padding: 50px;
}

#Tokyo {
    background-color: #F1F1F1;
    padding: 50px;
}